:root {

    font-size: 16px;
    /* background-color: #121212; */
    --main-color: rgb(15, 221, 15);
    --text-color: #707070;
}

.dash {
    display: flex;
    background-color: black;
}

.macro {
    display: flex;
    background-color: black;
}


.footernotes {
    color: wheat;
    font-size: 11px;
    margin-top: auto;
    padding: 20px;

    flex-direction: column;
}

.footernotes:link {
    color: rgb(255, 255, 255);
}

.buttondiv {

    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* margin-top: auto; */
    /* padding: 20px; */
}

.searchbox {
    width: 15vw;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-top: auto;
    padding: 20px; */
}


.searchbox_home {
    width: 70vw;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-top: auto;
    padding: 20px; */
}



.searchbox .search-bar1 {
    width: 15vw;
    margin: 0px;
    border: 1px solid rgb(0, 255, 42);
    color: white;
    background-color: black;
    height: 5vh;



    border-radius: 0 5px 0 5px;

}

.searchbox .search-bar1:focus {
    width: 15vw;
    outline: none;

    border: 2px solid rgb(0, 255, 21);

}




.gobutton {
    width: 5vw;
    border-radius: 0 5px 0 5px;

    padding: 2px;
    /* padding-left: 20%; */

    background-color: rgb(15, 221, 15);
    border: none;

}




.navbar {


    border-right: 1px solid rgb(58, 58, 58);


    background-color: #000000;
    width: 20vw;
    height: 100vh;
}

.navbar1 {


    background-color: #0f0f0f;
    width: 20vw;
    height: 220vh;
}

.navbarnav {
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    /* align-items: center; */
    list-style: none;
    /* justify-content: space-around; */
}

.thing {
    width: 15vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #000000;
    color: #CDCDCD;
    padding: 10px;
    font-family: Segoe UI;


}

.rectangle {
    width: 15vw;
    height: 0.3vh;
    ;
    margin-top: 10vh;

}

.current {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #000000;
    color: #CDCDCD;
    font-weight: bold;
    font-size: 1.7vw;
    width: 15vw;
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: var(--main-color);

}

.current:hover {
    width: 15vw;
    background-color: #021a00;
    color: #CDCDCD;
    font-weight: bold;

    padding: 10px;
    text-decoration: underline;
    text-decoration-color: var(--main-color);

}

.thing:hover {
    width: 15vw;
    background-color: #021a00;
    color: var(--main-color);
    padding: 10px;

}

.r_button {
    align-items: center;
    margin-left: 2%;
    font-family: Segoe UI;
    /* font-style: italic; */
    line-height: 1;
    border-radius: 0px 5px 0px 5px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: 0.3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 100%;
    /* text-transform: uppercase; */
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #ebebeb;
    /* border: 0.2px solid rgb(1, 26, 12); */
    background-color: #000000;
    height: 85%;
}

.r_button:hover {

    background-color: var(--main-color);
    color: black;

}


.options {
    background-color: #000000;
    width: 20vw;
    height: 100vh;
}

.char {
    background-color: #000000;
    color: #CDCDCD;
    padding: 20px;
    font-family: Segoe UI;
}



.chart {
    background-color: #13582e;
    display: grid;
    margin: auto;

    width: 55vw;

    height: 70vh;
}

/* list 2 in the thing */
.view1 {


    height: 50vh;
    width: 100%;

    border: 0.1px solid black;
}


.view {
    background-color: #000000;



    height: 220vh;

    display: flex;
    flex-direction: column;



}


.view_macro {
    color: #ebebeb;
    background-color: #000000;



    height: 500vh;

    display: flex;
    flex-direction: column;

}




.area {
    /* margin-left: ; */
    background-color: #000000;
    width: 80vw;
    height: 20vh;


}

.cards {
    display: grid;
    /* margin-left: ; */
    background-color: #000000;
    width: 80vw;
    height: 80vh;
    grid-template-columns: repeat(2, 2fr);


}

.cards_mobile {
    display: grid;
    font-size: 10px;
    /* margin-left: ; */
    background-color: #000000;
    width: 50vw;
    height: 50vh;
    grid-template-columns: repeat(1, 1fr);


}



.infocards {
    border-radius: 0 10px 0 10px;
    font-family: Segoe UI;
    align-items: center;
    text-align: left;
    margin: 2%;

    height: 10vh;

    width: vw;
    color: #DADADA;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.infocards1 {
    border-radius: 10px;
    font-family: Segoe UI;
    align-items: center;
    text-align: left;
    margin: 2%;
}

.cardname {
    color: green;
}

.per {
    color: #707070;
}

::-webkit-scrollbar {
    width: 0.3vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(9, 129, 59);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.select {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    height: 50px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 220px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #ffeba7;
    cursor: pointer;
    color: #000000;
    box-shadow: 0 12px 35px 0 rgba(255, 235, 167, .15);
    background-color: rgb(20, 207, 20);

}

.select:hover {
    width: 500px;
    color: black;

    background-color: rgb(24, 209, 24);
}



@media screen and (max-width:728px) {

    .navbar {
        width: 1px;
    }

    .current {
        width: 1px;
    }

    .current:hover {
        width: 1px;
    }

    .view {
        flex-direction: column;
    }
}


.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: rgb(0, 0, 0) !important;
}

/*sets the background color of
          switch to violet when it is checked*/
.custom-control-input:checked~.custom-control-label::before {
    border-color: rgb(0, 0, 0) !important;
    background-color: rgb(24, 209, 24) !important;
}

/*sets the background color of
          switch to violet when it is active*/
.custom-control-input:active~.custom-control-label::before {
    background-color: rgb(0, 0, 0) !important;
    border-color: rgb(0, 0, 0) !important;
}

.custom-control-input:focus~.custom-control-label::before {
    /* when the button is toggled off 
    it is still in focus and a violet border will appear */
    border-color: rgb(0, 0, 0) !important;
    /* box shadow is blue by default
    but we do not want any shadow hence we have set 
    all the values as 0 */
    box-shadow:
        0 0 0 0rem rgba(0, 0, 0, 0) !important;
}